body, html {
    height: 100%;
    margin: 0;
    background-color: #F5F5F5;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fbfbfb;
}


header {
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #191919;
    height: 50px;
}

header nav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
    font-size: 18px;
}


header nav a:hover {
    background-color: white;
    color: black;
}


#header-web-title {
    color: white;
    font-size: 30px;
    margin: 10px;
}

#header-logo {
    width: 20px;
    margin-right: 20px;
}


#hero {
    height: 100%;
    background: url("./../images/homePage/backgrnd.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}


#hero h1 {
    font-size: 5em;
    text-shadow: 4px 4px 4px black;
}
#hero h2{
    font-size: 3em;
    text-shadow: 4px 4px 4px black;
}

#hero a {
    color: white;
    transition: 1s;
}



#menu{
    margin-left: 30px ;
    border-radius: 30px;
    border: 10px solid black;
    box-shadow: 5px 5px 5px BLACK;
}

#menu:hover {
    background-color:#000;
    opacity:0.5;
}

a span {
    top: 40%;
    left: 50%;
    margin-top: -65px;
    margin-left: -90px;
    width: 100%;
    color: white;
}​

 #regBody{
     height: 100%;
     background: url("./../images/homePage/backgrnd.jpg") no-repeat center;
     background-size: cover;
     position: relative;
     text-align: center;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 #regBody input{
     top: 40%;
     left: 50%;


 }

 .container {
     border-radius: 20px;
     background-color: rgba(13, 13, 13, 0.76);
     padding: 30px 30px 30px 30px;
 }